.header {
    background: #151515 url('../assets/images/intro-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
    z-index: 10;
}

.profile-pic {
    background: var(--bs-primary) url('../assets/images/alex_pic_dapper.jpg') no-repeat center center;
    background-size: cover;
    background-position-y: top;
}

.profile-pic::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to right,
    rgba(var(--bs-primary-rgb), 1) 0%,
    rgba(var(--bs-primary-rgb), 1) 10%,
    rgba(var(--bs-primary-rgb), 0.5) 30%,
    rgba(var(--bs-primary-rgb), 0.3) 100%
  );
}

.profile-pic .cover {
    z-index: 10;
}