:root {
  --card-transition-time: 0.2s;
}

/*
.header {
  background: #151515 url('../assets/images/intro-bg.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .header .text-container {
    z-index: 10;
  }
*/

.header {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel,
.carousel-inner,
.carousel-item {
  height: 100%;
}

.header-overlay {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#heroVideoCarousel {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.text-container {
  position: relative;
  z-index: 20;
}

.navbar {
    transition: all 0.5s ease-in-out;
}

.bg-grain-secondary {
    --grain-opacity: 1;
    --color-opacity: 0.8;

    background:
        /* color layer */
        linear-gradient(
            rgba(var(--bs-secondary-rgb), var(--color-opacity)),
            rgba(var(--bs-secondary-rgb), var(--color-opacity))
        ),
        /* image layer */
        url('../assets/images/grain.svg');

    background-size: 10%;
    background-repeat: repeat;
    background-position: center;
    opacity: var(--grain-opacity);
}

.bg-grain-dark {
    --grain-opacity: 1;
    --color-opacity: 0.75;

    background:
        /* color layer */
        linear-gradient(
            rgba(var(--bs-dark-rgb), var(--color-opacity)),
            rgba(var(--bs-dark-rgb), var(--color-opacity))
        ),
        /* image layer */
        url('../assets/images/grain.svg');

    background-size: 10%;
    background-repeat: repeat;
    background-position: center;
    opacity: var(--grain-opacity);
}

.navbar-sticky {
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav-link {
    transition: all 0.25s ease-in-out;
}

.nav-link:hover {
    color: var(--bs-light) !important;
    transform: scale(1.1);
}

// for svg shapes
.btm-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 12;
}

.top-curve {
  position: absolute;
  top: 0;
  width: 100%;
  display: inline-block;
  z-index: 12;
}

.profile-pic {
    background: var(--bs-primary) url('../assets/images/alex_pic_dapper.jpg') no-repeat center center;
    background-size: cover;
    background-position-y: top;
    position: relative;
}

.profile-pic::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to left,
    rgba(var(--bs-secondary-rgb), 1) 0%,
    rgba(var(--bs-secondary-rgb), 1) 10%,
    rgba(var(--bs-secondary-rgb), 0.5) 30%,
    rgba(var(--bs-secondary-rgb), 0.5) 100%
  );
}

.profile-pic .cover {
    z-index: 10;
}

.hr-heading {
    display: inline-block;
    width: 4rem;
    height: 0.125rem;
    margin-top: 0.625rem;
    border: none;
    background-color: var(--bs-primary);
    opacity: 1;
}

.hr-heading-full {
    display: inline-block;
    width: 90%;
    height: 0.125rem;
    margin-top: 0.625rem;
    border: none;
    background-color: var(--bs-primary);
    opacity: 1;
}

.status-circle:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: var(--bs-primary);
  animation: pulse-border 1200ms ease-in-out infinite;
}

.status-circle:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background: var(--bs-primary);
    transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  60% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2.5);
    opacity: 0;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2.5);
    opacity: 0;
  }
}

.link {
  color: var(--bs-primary);
  text-decoration: none;
  box-shadow: inset 0 -6px rgba(var(--bs-primary-rgb), 0.5);
  transition: 0.4s ease;
  font-size: 18px;
}

.link:hover {
  color: var(--bs-light);
  box-shadow: inset 0 -10px rgba(var(--bs-light-rgb), 0.5);
}

.link-light {
  color: var(--bs-light);
  text-decoration: none;
  box-shadow: inset 0 -6px rgba(var(--bs-light-rgb), 0.5);
  transition: 0.4s ease;
  font-size: 18px;
}

.link-light:hover {
  color: var(--bs-primary);
  box-shadow: inset 0 -10px rgba(var(--bs-primary-rgb), 0.5);
}

.card-clip {
  position:relative;
  width: 100%;
  background: rgba(var(--bs-dark-rgb), 0.5);
  padding: 24px;
  border: none;
  clip-path: polygon(0 0,calc(100% - 30px) 0,100% 30px,100% 100%,30px 100%,0 calc(100% - 30px));
  transition: all 0.25s ease-in-out;
}

.card-clip:hover {
  transform: scale(1.03);
}

.logo-wrapper {
  position: relative;
  width: 94px;
  height: 81px;
}

.logo {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background-size: cover;
}

.logo-front {
  background-image: url('../assets/images/A&M\ White\ Logo.png');
  transition: opacity 0.3s ease, transform 0.4s ease;
}

.logo-back {
  background-image: url('../assets/images/A&M\ Maroon\ Logo.png');
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.logo-wrapper:hover .logo-front {
  opacity: 0;
  transform: scale(1.05);
}

.logo-wrapper:hover .logo-back {
  opacity: 1;
  transform: scale(1.05);
}

.skill-card {
  transition: all 0.2s ease-in-out;
}

.skill-card:hover {
  transform: scale(1.05);
  background: rgba(var(--bs-dark-rgb), 0.5) !important;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card-title {
  color: transparent;
  transition: all 0.15s ease-in-out;
}

.card:hover .skill-card-title {
  color: var(--bs-light) !important;
}

// changes svg color on hover
.card:hover .skill-icon svg {
  transition: all 0.2s ease-in-out;
}

.card:hover .skill-icon svg {
  fill: var(--bs-light);
}

.card:hover .skill-icon svg #capcut-stroke {
  fill: none !important;
  transition: all 0.2s ease-in-out;
}

.card:hover .skill-icon svg #capcut-stroke {
  stroke: var(--bs-light);
}

.contact-pic {
  background: none;

  width: 200px;
  height: 200px;
  margin: 2.5rem auto; /* center horizontally */
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.contact-pic::after {
  background: none;
}

.contact-pic::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('../assets/images/alex_pic_dapper.jpg')
              no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

.project-card-clip {
  position: relative;
  
  height: 260px;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 0px;
  border: none;
  clip-path: polygon(0 0,calc(100% - 30px) 0,100% 30px,100% 100%,30px 100%,0 calc(100% - 30px));
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}

.project-card-clip:hover {
  transform: scale(1.03);
}

.project-card-clip::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bs-dark); /* or any color */
  opacity: 0; /* start transparent */
  transition: opacity 0.25s ease-in-out;
  z-index: 0;
}

.project-card-clip:hover::before {
  opacity: 0.4; /* controls tint strength */
}

.project-overlay {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.project-card-clip:hover .project-overlay {
  transform: translateY(0);
}

.project-overlay::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.67;
  background: url("../assets/images/grain.svg");
  background-size: 20%;
  background-repeat: repeat;
  background-position: center;
  //background: rgba(var(--bs-dark-rgb), 0.5);
  pointer-events: none;
  z-index: -2;
}

.project-overlay::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(var(--bs-dark-rgb), 0.8);
  z-index: -1;
}

.project-header {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.project-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
  
.project-header .text-container {
  z-index: 10;
}

.project-video-header {
  position: relative;
  height: 75vh;
  overflow: hidden;
}

.project-video-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.header-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.project-header .text-container {
  position: relative;
  z-index: 2;
}

.video-wrapper {
  cursor: pointer;
}

// Video Play Button
.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 32px;
  height: 44px;
  border-radius: 50%;
  display: block;
  box-sizing: content-box;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  cursor: pointer;
}

.video-play-button:before {
  content: '';
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  cursor: pointer;
  animation: none;
  //animation: pulse-border 1500ms ease-in-out infinite;
}

.video-wrapper:hover .video-play-button:before {
  animation: pulse-border 1000ms ease-in-out infinite;
}

.video-play-button:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 76px;
  height: 76px;
  border-radius: 50%;
  display: block;
  background: var(--bs-primary);
  cursor: pointer;
  transition: all 200ms;
}

.video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 6px;
  left: 4px;
  width: 0;
  height: 0;
  // Draw button
  border-left: 26px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-modal .modal-dialog {
  max-width: 90%;
  margin-top: 20px;
}

.project-btn-wrapper {
  display: inline-block;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.project-btn-wrapper:hover {
  transform: scale(1.05);
}
.project-btn-wrapper:hover .project-btn-clip {
  color: var(--bs-light) !important;
}

.project-btn-clip {
  position:relative;
  border: none;
  clip-path: polygon(0 0,calc(100% - 15px) 0,100% 15px,100% 100%,15px 100%,0 calc(100% - 15px));
  isolation: isolate;
  transition: all 0.15s ease-in-out;
  z-index: 1;
}


.project-btn-clip::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url("../assets/images/grain.svg");
  background-size: 80%;
  background-repeat: repeat;
  background-position: center;
  //background: rgba(var(--bs-dark-rgb), 0.5);
  pointer-events: none;
  z-index: -2;
}

.project-btn-clip::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(var(--bs-secondary-rgb), 0.8);
  z-index: -1;
}

.project-btn-clip::before,
.project-btn-clip::after {
  clip-path: inherit;
}

.project-btn-shadow {
  position: absolute;
  border: none;
  top: 4px;
  left: -4px;
  width: 100%;
  height: 100%;
  background: rgba(var(--bs-dark-rgb), 0.6);
  clip-path: polygon(0 0,calc(100% - 15px) 0,100% 15px,100% 100%,15px 100%,0 calc(100% - 15px));
  z-index: 0;
}

.project-img-clip {
  position: relative;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 0px;
  border: none;
  clip-path: polygon(0 0,calc(100% - 30px) 0,100% 30px,100% 100%,30px 100%,0 calc(100% - 30px));
  transition: all 0.25s ease-in-out;
  overflow: hidden;
}

@media (max-width: 992px) {
    .profile-pic {
    background: none;

    /* circle */
    width: 200px;
    height: 200px;
    margin: 2.5rem auto; /* center horizontally */
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .profile-pic::after {
    background: none;
  }

  .profile-pic::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('../assets/images/alex_pic_dapper.jpg')
                no-repeat center center;
    background-size: cover;
    border-radius: 50%;
  }

  .contact-pic {
    width: 0;
    height: 0;
    opacity: 0;
  }
  
  .project-card-clip {
    width: 90%;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}