.header {
    background: #151515 url('../assets/images/intro-bg.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
    z-index: 10;
}


.navbar {
    transition: all 0.5s ease-in-out;
}

.bg-grain-secondary {
    --grain-opacity: 1;       /* opacity of the image layer */
    --color-opacity: 0.75;     /* opacity of the color layer */

    background:
        /* color layer */
        linear-gradient(
            rgba(var(--bs-secondary-rgb), var(--color-opacity)),
            rgba(var(--bs-secondary-rgb), var(--color-opacity))
        ),
        /* image layer */
        url('../assets/images/grain.svg');

    background-size: 10%;
    background-repeat: repeat;
    background-position: center;
    opacity: var(--grain-opacity);
}

.navbar-sticky {
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.nav-link {
    transition: all 0.25s ease-in-out;
}

.nav-link:hover {
    color: var(--bs-light) !important;
    transform: scale(1.1);
}

.profile-pic {
    background: var(--bs-primary) url('../assets/images/alex_pic_dapper.jpg') no-repeat center center;
    background-size: cover;
    background-position-y: top;
}

.profile-pic::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
    to right,
    rgba(var(--bs-primary-rgb), 1) 0%,
    rgba(var(--bs-primary-rgb), 1) 10%,
    rgba(var(--bs-primary-rgb), 0.5) 30%,
    rgba(var(--bs-primary-rgb), 0.3) 100%
  );
}

.profile-pic .cover {
    z-index: 10;
}